.discription {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.discription a {
    font-size: 12px;
}

.invoice {
    width: 25%;
}

.rank {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rank img {
    width: 15px;
}

.price {
    font-size: 24px;
    font-weight: 600;
    display: flex;
}

.price span {
    font-weight: normal;
    font-size: 12px;
}

.price::before {
    content: "-7%";
    color: red;
    margin-right: 10px;
}

.listPrice {
    font-size: 12px;
    color: gray;
}

.listPrice span {
    text-decoration: line-through;
}

.style {
    display: flex;
    gap: 20px;
}

.style div {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
}

.style div p:first-child {
    text-align: center;
}

.specifications {
    display: flex;
    gap: 20px;
    line-height: 40px;
    font-size: 14px;
}

.specifications ul:first-child {
    font-weight: 800;
}

.moreInformation li {
    list-style: disc;
    list-style-position: inside;
}