.invoice {
    border-radius: 8px;
    border: 1px solid rgb(197, 197, 197);
    padding: 12px;
}

.shipping {
    color: gray;
    font-size: 14px;
}

.time {
    font-weight: bold;
}

.price {
    display: flex;
    margin-top: 5px;
}

.price span {
    font-weight: normal;
    font-size: 12px;
}

.location {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.location a {
    text-decoration: none;
    color: rgb(15, 125, 140);
}

.location a:hover {
    color: red;
}

.location img {
    width: 15px;
}

.stock {
    color: #007600;
    font-size: 18px;
    font-weight: normal;
}

.select {
    width: 100%;
    background-color: rgb(240, 242, 241);
    border: none;
    border-radius: 8px;
    padding: 4px 6px;
    box-shadow: 0 0 5px grey;
    font-size: 16px;
    margin-top: 15px;
}

.select:focus {
    outline: 1px solid rgb(4, 123, 147);
}

.submit {
    background-color: rgb(254, 216, 19);
    box-shadow: 0 0 5px grey;
    padding: 4px 16px;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    border: none;
    border-radius: 20px;
    margin-top: 16px;
}