.product {
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: black;
    text-decoration: none;
}

.image {
    width: 100%;
    padding: 40px;
    height: 200px;
}

.product h3 {
    font-weight: inherit;
    font-size: 30px;
    border-bottom: 1px solid rgb(226, 230, 231);
}

.price {
    font-size: 25px;
    font-weight: 700;
    line-height: .8rem;
    display: flex;
}

.price>span {
    font-weight: 400;
    font-size: 12px;
}

.originalPrice {
    font-size: 13px;
    text-decoration-line: line-through;
    font-weight: 400;
}

.description {
    width: 90%;
    font-size: .8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.rank {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rank {
    font-size: 12px;
}

.rank img {
    width: 15px;
    margin-right: 5px;
}

.link {
    font-size: 14px;
    color: black;
    text-decoration: none;
}