.cart {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.img {
    width: 50px;
}

.title {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-left: -10px;
}

.count {
    font-size: 16px;
    font-weight: bold;
    color: rgb(249 115 22);
    position: absolute;
    top: 5%;
    left: 33%;
}