    .form {
        height: 40px;
        display: flex;
        min-width: 600px;
    }
    
    .select {
        background-color: rgb(230, 230, 230);
        border: 1px solid rgb(170, 180, 197);
        width: 50px;
        height: 100%;
        border-radius: 0.25rem 0 0 0.25rem;
        text-align: center;
    }
    
    .input {
        height: 100%;
        width: 100%;
        border: 1px solid rgb(170, 180, 197);
    }
    
    .button {
        width: 40px;
        height: 100%;
        background-color: rgb(253, 186, 116);
        border: none;
        border-radius: 0 0.25rem 0.25rem 0;
    }
    
    .button img {
        height: 60%;
    }
    
    .select:focus {
        outline: 3px solid rgb(253, 186, 116);
    }
    
    .form {
        border-radius: 0.25rem;
    }
    
    .input:focus {
        outline: none;
    }
    
    .form:focus-within {
        outline: 3px solid rgb(253, 186, 116);
    }